{{ if not (.Site.Params.navbar.disableSearch | default false) }}
    <script>
      window.searchIndexURL = {{ .Site.Home.RelPermalink | printf "%sindex.json" | jsonify | safeJS }};
    </script>
    <script src="{{ (printf "%sjs/search.js" (.Site.Params.staticPath | default "")) | relURL }}"></script>
{{ end }}


{{ if or (.Params.mathjax | default false) (.Site.Params.mathjax) }}

{{ "<!-- MathJax -->" | safeHTML }}
<script src="https://cdnjs.cloudflare.com/ajax/libs/mathjax/3.2.2/es5/tex-mml-chtml.min.js" integrity="sha384-M5jmNxKC9EVnuqeMwRHvFuYUE8Hhp0TgBruj/GZRkYtiMrCRgH7yvv5KY+Owi7TW" crossorigin="anonymous"></script>

<script type="text/x-mathjax-config">
    MathJax.Hub.Config({
      tex2jax: {
        inlineMath: [['\\(','\\)']],
        displayMath: [['$$','$$'], ['\[','\]']],
        processEscapes: true,
        processEnvironments: true,
        skipTags: ['script', 'noscript', 'style', 'textarea', 'pre'],
        TeX: { equationNumbers: { autoNumber: "AMS" },
             extensions: ["AMSmath.js", "AMSsymbols.js"] }
      }
    });
</script>
{{ end }}

{{ if (.Site.Params.cloudinary_cloud_name | default false) }}

{{ "<!-- cloudinary -->" | safeHTML }}
<script src="https://unpkg.com/cloudinary-core@2.13.0/cloudinary-core-shrinkwrap.js" integrity="sha384-0bQduxVhZMs6xfvcPH9osdUIw44hjF8EahHuQBdyN6Rryk8tgyFO80Yz5d14F+5d" crossorigin="anonymous"></script>
<script type="text/javascript">
    var cl = cloudinary.Cloudinary.new({cloud_name: "{{- .Site.Params.cloudinary_cloud_name }}"}); 
    cl.responsive();
</script>

{{ end }}

{{ if (.Site.Params.contact.formspree.enable | default false) }}
<script src="{{ (printf "%sjs/contact.js" (.Site.Params.staticPath | default "")) | relURL }}"></script>
{{ end }}

{{ if (.Site.Params.customScripts | default false) }}
{{ .Site.Params.customScripts | safeHTML }}
{{ end }}
